<!DOCTYPE html>
<html>
  <head>
    <title>TrophySite</title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_link_tag "slide", :media => "screen" %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript"> Cufon.replace('h1,h2,h3,h5'); </script>
  </head>
  <body class="<%= controller_name -%> <%= action_name -%>">
    <%= render 'layouts/panel' %>
    <div class="wrapper">
        <div class="container">
            <div class="content">
                <div id="columnRight">
                    <%= render 'layouts/menu' %>
                    <%= yield %> 
                    <br class="clearfloat" />

                <!-- end #columnRight --></div>
            <!-- end .content --></div>
        <!-- end .container --></div>
    </div><!-- end .wrapper -->
  </body>
</html>
